
.projets-wr {

}

.projet-item {
    /* box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1); */
    /* opacity: 1; */
    display: flex;
    align-items: center;
    padding: 10px;
}

.projet-label {

}

.empty-list {
    padding: 10px;
}

.edit-wr {
    
}

.edit-projet {

}
.control-bar {
    /* float: right; */
    margin-left: auto;
}



.projets-nav {
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.projets-results {
    padding: 10px 0px;
}

.dp-t {
    margin-left: 8px;
}