
.projets-wr {

}

.projet-item {
    /* box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1); */
    /* opacity: 1; */
    /* display: flex; */
    /* align-items: center; */
    padding: 10px;
    border: 1px solid rgb(212, 218, 231);
    border-radius: 4px;
}

.projet-item.box-sh {
    margin-bottom: 10px;
}


.empty-list {
    padding: 10px;
}

.edit-wr {
    
}

.edit-projet {

}




.projets-nav {
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.projets-results {
    padding: 10px 0px;
}

.dp-t {
    margin-left: 8px;
}


.search-bar {
    padding-right: 60px !important;
}

.cr-list {

}

.cr-item {
    width: 50%;
}

.cr-label {
    width: 45%;
    text-align: right;
    padding-right: 4px;
    font-weight: 600;
    font-size: 13px;
}

.cr-list > .cr-line:last-child {
    margin-bottom: 0px;
}

.cr-line {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.cr-input {
    width: 55%;
    padding: 6px 0px;
    padding-left: 4px;
}

.projet-label {
    color: #065ebd;
    color: #1384ff;
    display: inline-block;
    font-weight: 600;
}

.projet-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.projet-loc {

}

.projet-loc .fa-map-marker-alt {
    color: #63cb34;
    margin: 0px;
    margin-right: 6px;
}

.loc-label {
    font-size: 14px;
}

.ct_pr {
    float: right;
    margin-left: auto;
}

.projet-mo {
    
}

.projet-mo .fa-building {
    color: #007bff;
    margin: 0px;
    margin-right: 6px;
}

.mo-label {
    font-size: 14px;
}

._fa_lpr {
    font-size: 14px;
}

._drop-down {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    /* transform: translate(-100%,50%); */
    border: 1px solid rgb(212, 218, 231);
    border-radius: 4px;
    padding: 6px 0px;
}
._drop-down ._dr-item {
    display: block;
    font-size: 14px;
    color: #0056b3;
    padding: 0px 18px;
    line-height: 2.2;
}

._drop-down ._dr-item:hover {
    color: #007bff;
    text-decoration: none;
    background-color: #e9ecef;
}
._drop-down ._dr-item:last-child {
    margin-bottom: 0px;
}

#_3_bar {
    position: relative;
}


.show-drop ._drop-down {
    display: block;
}