#pr-detail-wr::before {
    /* border-top: 6px solid #007bff; */
    content: '';
    display: block;
}
#pr-detail-wr .banner-line {
    /* background-color: #007bff;
    width: 100%;
    height: 6px; */

}

#pr-detail-wr {

    
    padding: 0px 10px;
    padding-bottom: 20px;
} 

#pr-detail-wr .tabs-wr {

    --tab-border: 1px solid #b3b3b3;
    --tab-radius: 3px;
    --tab-border-size: 6px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
} 

#pr-detail-wr .tab-item {
    padding: 6px 10px;
    /* border: var(--tab-border); */
    margin: 0px 2px;
    border-left: none;
    cursor: pointer;
    background-color: #007bff;
    background-color: #0062cc;
    color: #eef4fc;
    border-left: var(--tab-border-size) solid transparent;
    border-right: var(--tab-border-size) solid transparent;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    display: flex;
    line-height: 1;
    text-transform: capitalize;
    
} 

#pr-detail-wr .tab-item:hover {
    color: white;
    /* color: #eef4fc; */
    background-color: #007bffe6;
    /* border-top: 4px solid #ffc107; */

} 

#pr-detail-wr .tab-item.active {
    border-left: var(--tab-border-size) solid #ffc107;
    background-color: #007bffe6;
    background-color: #007bff;
    color: white;
} 

#pr-detail-wr .tab-item:first-child {
    /* border-left: var(--tab-border);
    border-top-left-radius: var(--tab-radius);
    border-bottom-left-radius: var(--tab-radius); */
} 

#pr-detail-wr .tab-item:last-child {
    /* border-top-right-radius: var(--tab-radius);
    border-bottom-right-radius: var(--tab-radius); */
} 

#pr-detail-wr .l-item {
    margin-bottom: 8px;
} 

#pr-detail-wr .line-data .l-item:last-child {
    margin-bottom: 0px;
} 

#pr-detail-wr .prj-info-wr {
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 20px; */
} 

#pr-detail-wr .l-item > span {
    display: flex;
    align-items: center;
} 

#pr-detail-wr .l-date-w {
    margin-right: 10px;
} 

#pr-detail-wr .l-name {

} 

#pr-detail-wr .fa-arrow-circle-right {
    color: #216ba5;
    margin-left: 0px;
} 

#pr-detail-wr .fa-calendar-alt {
    color: #216ba5;
    margin-left: 0px;
} 

#pr-detail-wr .l-date {
    /* font-family: monospace; */
    color: #007bff;
    /* font-variant-numeric: tabular-nums; */
    /* font-size: 14px; */
    font-weight: bold;
} 
#pr-detail-wr .l-date:after {
    /* content: ':';
    margin: 0px 4px; */
} 

#pr-detail-wr .l-com {

} 

#pr-detail-wr .big-header {
    font-weight: 600;
    margin: 20px auto 10px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
} 

#pr-detail-wr .mh-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
} 
#pr-detail-wr ._mh_2 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    /* text-decoration: underline; */
    width: 30%;
} 


#pr-detail-wr .line-info {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
}
#pr-detail-wr .line-label {
    width: 36%;
    margin-bottom: 0px;
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #212529;
}

#pr-detail-wr .line-label:after {
    content: ':';
    margin-left: 4px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;

}



#pr-detail-wr .line-data {
    font-size: 15px;
    color: #2f3030;
    width: 68%;
    text-transform: uppercase;

    border: 1px solid #dadce0;
    border-radius: 18px;
    padding: 6px 14px;
    background-color: white;
}

#pr-detail-wr .fa-map-marker-alt {
    color: #007bff;
    font-size: 14px;
    margin-left: 0px;
}

#pr-detail-wr .partners-wr {
    display: flex;
}

#pr-detail-wr .hleft-lb {
    
}

#pr-detail-wr .partners-data {
    
}

#pr-detail-wr .ptr-name {
    color: #07C;
}

#pr-detail-wr .partner-item > span {
    display: block;
}

#pr-detail-wr .partner-item:last-child{
    margin-bottom: 0px;
}

#pr-detail-wr .tree-wr {
    margin-bottom: 0px;
}

#pr-detail-wr .line-data > .tree-item {
    padding-left: 0px;
}

#pr-detail-wr .tree-item {
    display: block;
    padding-left: 12px;
}

#pr-detail-wr .item-data {
    display: flex;
    align-items: center;
}

#pr-detail-wr .tree-item-label {
    /* text-transform: capitalize; */
    color: #07C;
}



#pr-detail-wr .pr-header {
    /* display: flex; */ 
    /* justify-content: space-evenly; */
    align-items: center;
    /* margin: 20px auto 20px; */
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-column-gap: 10px;
    /* justify-items: center; */
    /* width: 69%; */
    margin: 20px 0px;
}

#pr-detail-wr .pr-title {
    font-weight: 600;
    /* width: 100%; */
    text-align: center;
    grid-column-start: 2;
}


#pr-detail-wr .per-wr {
    width: 80%;
    /* width: 61px; */
    /* margin-left: auto; */
}

#pr-detail-wr .ptr-src {
    margin-left: 6px;
    color: black;
}

#pr-detail-wr .ptr-montant {
    color: #495057;
}

#pr-detail-wr .data-font-1 {
    color: #07C;
}

#pr-detail-wr .pm-h {
    font-weight: 600;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

#pr-detail-wr .m-h  {

}

#pr-detail-wr .nbr-font {
    /* font-family: monospace; */
}

#pr-detail-wr .fa-percent {
    font-size: 12px;
}

#pr-detail-wr .sep-line-tiny {
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 10px auto;
}

#pr-detail-wr .attach-line .fa-paperclip {
    margin-left: 0px;
}

#pr-detail-wr .fa-os {
    margin-left: 0px;
}

#pr-detail-wr .new-marche {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
}

#pr-detail-wr .new-marche a {
    margin-right: 6px;
}