

.users-wr {
    /* display: flex; */
}

.fa-add-user {
    cursor: pointer;
}


#userPage .user-item {
    padding: 5px 0px;
    /* padding-right: 0px; */
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#userPage .user-item:last-child {
    border-bottom: none;
}

.user-info {

}
.user-label {
    text-transform: capitalize;
}

.add-user {
    font-size: 14px;
}

#userPage .nav-user {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

#userPage .result-info {
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#userPage .user-result {
    border: 1px solid #dadce0;
    padding: 0px 14px;
    background-color: white;
    border-radius: 4px;
}



