

.users-wr {
    /* display: flex; */
}

.fa-add-user {
    cursor: pointer;
}

.user-item {
    /* box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1); */
    margin-bottom: 8px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.user-info {

}
.user-label {
    text-transform: capitalize;
}

.add-user {
    font-size: 14px;
}

#userPage .nav-user {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.user-result {

}