

.form-check-label, select {
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}


.form-check-fa {

}


.form-empty-fa {

}

.form-minus-fa {

}

.form-checkbox-fa {
    font-size: 18px;
}


.checked {
    color: #007bff;
}


.indeterminate {
    /* color: #007bff9e; */
    color: #007bff;
}


.reset-checkbox {
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #dae0e5;
}


.bold-label {
    font-weight: 500 !important;
}