
.app-container {
    display: flex;
}

#content {
    width: 70%;
    background-color: #f2f7fb;
}

#routes {
    width: 90%;
    margin: 40px auto 80px;
}


.bread-crumb {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    background-color: white;
    margin: 40px 0px 20px;
    padding: 12px 10px;
    border: 1px solid #ced4da;
    border-top: 6px solid #ffc107;
}

._fa-sep {

}

.path-link {
    font-weight: 600;
}


.box-sh {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    background-color: white;
    padding: 12px 10px;
    margin-bottom: 20px;
    /* padding: 12px 10px; */

}

.fv_align {
    display: flex;
    align-items: center;
}

.ctr_ic {
    margin-left: 8px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}
.ctr_ic:hover, .l_ho:hover {
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}

.ctr_ic2 {
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
}

.no_sel {
    pointer-events:none;
}


.db_2::after {
    content: ':';
    display: inline;
    margin: 0px 4px;
}


.error-feedback {
    width: 100%;
    margin-top: 2px;
    color: #dc3545;
    font-size: 14px;
}

.btn-link {
    cursor: pointer;
    padding: 0px;
    margin-left: 4px;
    font-size: 14px;

}