
.app-container {
    display: flex;
}

#content {
    width: 70%;
    background-color: #f2f7fb;
}

#routes {
    width: 80%;
    margin: 40px auto 80px;
}


.bread-crumb {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    background-color: white;
    margin: 40px 0px 20px;
    padding: 12px 10px;
    border-top: 6px solid #ffc107;
}

._fa-sep {

}

.path-link {
    font-weight: 600;
}
