
.app-container {
    display: flex;
    justify-content: center;
}

#content {
    width: 70%;
    background-color: #f2f7fb;
}

#routes {
    width: 90%;
    margin: 40px auto 80px;
}


.bread-crumb {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    background-color: white;
    margin: 40px 0px 20px;
    padding: 12px 10px;
    border: 1px solid #ced4da;
    border-top: 6px solid #ffc107;
}

._fa-sep {

}

.path-link {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}


.box-sh {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    background-color: white;
    padding: 12px 10px;
    margin-bottom: 20px;
    /* padding: 12px 10px; */

}

.box-br {
    border: 1px solid rgb(212, 218, 231);
    border-radius: 4px;
}

.fv_align {
    display: flex;
    align-items: center;
}

.ctr_ic {
    margin-left: 8px;
    font-size: 14px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}
.ctr_ic:hover, .l_ho:hover {
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}

.ctr_ic2 {
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
    text-decoration: none;
}

.no_sel, .disabled {
    pointer-events:none;
}



.db_2::after {
    content: ':';
    display: inline;
    margin: 0px 4px;
}



.error-feedback {
    width: 100%;
    margin-top: 2px;
    color: #dc3545;
    font-size: 14px;
}

.btn-link {
    cursor: pointer;
    padding: 0px;
    margin-left: 4px;
    font-size: 14px;

}



.radio-line {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.radio-line .radio-label {
    margin-bottom: 0px;
    cursor: pointer;
}

.radio-line .radio-list {
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
}

.radio-line .radio-list .form-check .radio-label {
    font-size: 15px;
}
.radio-line .radio-list .form-check {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.radio-line .radio-list .form-check:first-child {
    margin-left: 12px;
}

.radio-line .show-modal {
    margin-left: auto;
}



/* Slider switch */



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .2s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
    background-color: #25a325;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  /* Slider end */


.simple-field-wr > ._fa_check {
    margin-left: 0px;
}

.bg-label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: #212529;
}


._item_ls {

    display: flex;
    justify-content: space-between;
    color: #07C;
    font-weight: 600;
    font-size: 11pt;
    line-height: 1;
    /* margin: 10px 0px; */
    /* padding: 2px 0px; */
    color: #07C;
    font-weight: 600;
    font-size: 15px; 
}

.mtem_ls {


    border: 1px solid #dadce0;
    border-radius: 18px;
    padding: 10px 14px;
    background-color: white;

    
}

.mtem_ls:hover {
    background-color: #f8f9fa;
}

.api-error {
    color: #dc3545;
    font-size: 14px;
    /* display: flex;
    align-items: center; */
}

.api-error > span {
    vertical-align: middle;
}

.api-error > .fa-info-circle {
    vertical-align: middle;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.4s;
}
.ripple:hover {
    background: #e9ecef radial-gradient(circle, transparent 1%, #e9ecef 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}
  
.i-color {
    color: #07C;
    font-weight: 600;
    font-size: 15px;
}    


@keyframes bounceText {
    0% {
       transform: translateX(0);
    }
    10% {

       transform: translateX(10px);
    }
    80% {
       transform: translateX(-10px);
    }
    100% {
       transform: translateX(0);
    }
 } 


 .datepicker {
     /* pointer-events: none; */
 }



 .inp-submitting {
    /* color: #aeaeae; */
    background-color: #f8f8f8;
}

.is-submitting {
    pointer-events:none;
    opacity: 0.6;
}

.no-touch {
    pointer-events:none;
}


.blue-link {
    color: #1384ff;
    text-transform: uppercase;
    cursor: pointer;
}

.result-info {
    font-weight: 600;
}


.forbidden-route-wr {

}

.forbidden-route-text {

}

.error-banner {
    background-color: red;
    color: white;
    font-size: 18px;
}


/* whatsapp loading svg */


.svg-spinner {
    animation: rotate 2s linear infinite;
}

.svg-spinner .path {
    stroke-dasharray: 1,150; /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes rotate{
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
    0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    }
    50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
    }
    100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
    }
}
@-webkit-keyframes dash {
    0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    }
    50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
    }
    100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
    }
}

/* LOADING */



/* .btn.is-loading:after {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    margin-left: -1.65em;
    margin-left: -22px;
    border: 2px solid rgba(57,115,157,0.4);
    border-color: rgba(255,255,255,0.25);
    border-left-color: #FFF;
    border-left-color: #33658a;
    border-radius: 50%;
    animation: s-spinner-rotate .9s infinite cubic-bezier(.5, .1, .5, .9);
    filter: invert(0);
    transform-origin: 50% 50% 1px;
} */



.btn-loader-wr {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

.btn-loader {
    width: 1.5em;
    height: 1.5em;
    margin-left: .6em;
    border: 3px solid #59a9ff;
    border-top: 3px solid white;
    border-radius:50%;
    animation: rotate 0.8s infinite linear;
    /* transition-property: transform; */
}
  
/* .btn-loader-wr:active {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
} */

  
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* ///////////////////////////////////////// */

.center-flex {
    display: flex; 
    justify-content: center;
    align-items: center;
}


.input-with-init {
    position: relative;
}



.input-with-init .clear-input {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0px 8px;
}


.form-container {
    background-color: white;
}

.highlight-text {
    background-color: yellow;
}

.notif-warnig {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    text-align: center;
    font-weight: 100;
    font-size: 1.1em;
}