
.selected-container {
    color: #07C;
    font-weight: 600;
    font-size: 11pt;
    line-height: 1;
    margin: 10px 0px;
}

.selected-container .label-selection {
    cursor: pointer;
}

.selected-container .delete-selection {
    color: #ec4e4e;
    cursor: pointer;
    float: right;
}