#marcheForm {
    --ml: 30%;
}

#marcheForm .simple-field-wr {
    /* display: flex;
    align-items: center; */
}

#marcheForm .form-label {
    font-size: 13px;
    margin-bottom: 0px;
}

#marcheForm .form-control {

}

#marcheForm .sub-form-attachments ._item_ls {

}

#marcheForm .fa-paperclip {
    margin-left: 0px;
    font-size: 12px;
}

#marcheForm .invalid-feedback {
    margin-left: var(--ml);
    width: 100%;
    /* display: inline-block; */
}

#marcheForm .ste-item {
    margin-bottom: 8px;
}

#marcheForm .ste-item:last-child {
    /* margin-top: 8px 0px; */
}

#societeForm .form-validation {
    padding: 16px 0px 10px;
}

#societeForm .form-content {
    padding: 0px;
}

#societeForm .form-content > .simple-field-wr:last-of-type {
    margin-bottom: 0px;
}

#marcheForm .add-ste {
    color: #1384ff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    /* text-align: right; */
    float: right;
}


#marcheForm .simple-field-wr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#marcheForm .simple-label {
    width: var(--ml);
}

#marcheForm .simple-data {
    width: 70%;
}

#marcheForm .ste-input {
    width: 90%;
}
#marcheForm .ste-input .autocomplete-input {

}

#marcheForm .ste-inp-wr {

}