
.form-label {
    font-weight: bold;
    text-transform: uppercase;
}


.show-modal {
    font-weight: 100;
    text-transform: uppercase;
}


.show-modal-conv {
    
}

.partner-item {

}

.partner-label {
}

.partner-name {
    color: #07C;
    font-weight: 600;
    font-size: 11pt;
}


.partner-montant {

}

.partner-info {
    /* font-weight: 400; */
    background-color: #dbedff;
    padding: 6px 8px;
    margin-bottom: 4px;
    border: 1px solid #bedbfb;
    border-radius: .25rem;
}




.delete-item-list {
    color: #ec4e4e;
    cursor: pointer;
    float: right;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}