
.form-label {
    font-weight: bold;
    text-transform: uppercase;
}


.show-modal {
    font-weight: 100;
    text-transform: uppercase;
    padding: 4px 28px;
    font-size: 11pt;
}


.show-modal-conv {
    
}

.partner-item {

}

.partner-label {
}

.partner-name {
    color: #07C;
    font-weight: 600;
    font-size: 15px;
}


.partner-montant {

}

.partner-item {

    margin-bottom: 8px;
    /* font-weight: 400; */
    /* background-color: #dbedff; */
    /* padding: 6px 0px;
    margin-bottom: 4px; */
    /* border: 1px solid #bedbfb; */
    /* border-radius: .25rem; */
}




.delete-item-list {
    color: #ec4e4e;
    cursor: pointer;
    float: right;
}

.edit-item-list {
    color: #007bff;
    cursor: pointer;
    float: right;
}