#projetForm::before {
    border-top: 6px solid #007bff;
    content: '';
    display: block;
}

.form-wr {
    /* width: 80%;
    margin: 40px auto 80px; */
    border: 1px solid #ced4da;
    background-color: white;
    /* padding: 0px 20px; */
    box-shadow: 0 2px 4px 0 rgba(43,43,43,0.1);
    
}


.form-title {
    padding: 18px 5px;
    background-color: #0062cc;
    color: #fff;
    /* text-shadow: 1px 1px 1px #6c757d; */
    text-transform: uppercase;
    text-align: center;
    /* font-weight: 600; */
    font-size: 17px;
    line-height: 1;
    margin: 0;
}

.form-validation {
    padding: 10px 20px;
    text-align: right;
}

.form-content {
    padding: 14px 20px 0px;
    background-color: white;
}

.form-label {

}

.form-label::after {
    content: ':';
    display: inline;
    margin: 0px 4px;
}

.field-label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #212529;
}

.form-check-label {
    /* font-weight: 500; */
    /* text-transform: uppercase; */
    /* color: #495057; */
    cursor: pointer;
}

.radio-label {
    /* font-weight: 500;
    text-transform: uppercase;
    cursor: pointer; */
}

.checkbox-label {
    /* font-weight: 500;
    text-transform: uppercase;
    cursor: pointer; */
}


.show-modal {
    font-weight: 100;
    text-transform: uppercase;
    padding: 4px 28px;
    font-size: 11pt;
}


.show-modal-conv {
    
}

.partner-item {

}

.partner-label {
}

.partner-name {
    color: #07C;
    font-weight: 600;
    font-size: 15px;
}


.partner-montant {

}

.partner-item {

    margin-bottom: 8px;
    /* font-weight: 400; */
    /* background-color: #dbedff; */
    /* padding: 6px 0px;
    margin-bottom: 4px; */
    /* border: 1px solid #bedbfb; */
    /* border-radius: .25rem; */
}




.delete-item-list {
    color: #ec4e4e;
    cursor: pointer;
    float: right;
}

.edit-item-list {
    color: #007bff;
    cursor: pointer;
    float: right;
}


.fa-dot-circle {
    color: #007bff;
}


.simple-field-wr {
    
}


.btn-submitting {
    opacity: 0.6;
}

.form-submitting {
    opacity: 0.5;
}

.is-submitting {
    pointer-events:none;
}


.sep-line {
    /* border-top: 2px solid #17a2b8;
    margin-bottom: 20px; */
    border-bottom: 1px solid lightgrey;
    /* margin-bottom: 18px; */
    /* margin-bottom: 1rem; */
    margin: 1rem 0px;
}

#projetForm .radio-line .switch {
    margin-left: 10px;
}


